.main {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 1800px;
	height: 1000px;
}

.buttons {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

.imgTable {
	display: flex;
	justify-content: center;
	/*margin-top: 150px;*/
	flex-direction: row;
	align-items: center;
}